<div ng-controller="sidebar">
<div class="logo"><img src="../assets/images/logo.png" ui-sref="category"/></div>

<div class="user-icon-contain"><i class="fa fa-user-circle" aria-hidden="true"></i>
<span>{{getUserName}}</span></div>
    <ul>
        <li><a ui-sref="dashboard"><span><i class="fa fa-tachometer" aria-hidden="true"></i></span>Dashboard</a></li>
        <li><a ng-click="toggleSubmenu('category')"><span><i class="fa fa-list-alt" aria-hidden="true"></i></span> CATEGORIES <i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <ul ng-show="submenuObj.category">
            <li><a ui-sref="addCategory">Add Category</a></li>
            <li><a ui-sref="category">View Categories</a></li>
        </ul>
        </li>
        <li><a  ng-click="toggleSubmenu('income')"><span><i class="fa fa-money" aria-hidden="true"></i></span>User Income <i class="fa fa-angle-down"  aria-hidden="true"></i></a>
            <ul  ng-show="submenuObj.income">
                    <li><a>Add Income</a></li>
                </ul>
        </li>
        <li><a  ng-click="toggleSubmenu('expence')"><span><i class="fa fa-get-pocket" aria-hidden="true"></i></span>Expences <i class="fa fa-angle-down" aria-hidden="true"></i></a>
            <ul  ng-show="submenuObj.expence">
                    <li><a href="#">Add Expence</a></li>
                    <li><a ui-sref="categoryExpences({categoryId:'59c0b0005527a822a00885f8'})">Category Expence List</a></li>
                    <li><a href="#">Total Expences List</a></li>
                </ul>
        </li>
    </ul>
</div>