
<div class="clearfix"></div>
 <div class="container">
        <div class="row">
<div class="col-sm-4 center-block" style="float: none; margin-top:10%">
    <div class="panel panel-default">
        <div class="panel-body">
                <div class="panel-heading">Income</div>
<div class="col-sm-12 form-group">
    <input type="text" placeholder="user income" class="form-control" ng-model="userIncome"/>
</div>

<div class="col-sm-12">
    <input type="button" class="btn btn-danger" value="Submit" ng-click="incomeFuc()"/>
</div>
    </div>
</div>
</div>

</div></div>