 <div class="container">
        <div class="row">
<div class="col-sm-4 center-block" style="float: none; margin-top:20%">
    <div class="panel panel-default">
        <div class="panel-body">
           <div class="panel-heading text-center">  <img src="../assets/images/logo.png"/></div>
<div class="col-sm-12 form-group">
    <input type="text" placeholder="Username" class="form-control" ng-model="userName"/>
</div>
<div class="col-sm-12 form-group">
    <input type="text" placeholder="Email" class="form-control" ng-model="userEmail"/>
</div>
<div class="col-sm-12 form-group">
    <input type="text" placeholder="Password" class="form-control" ng-model="userPassword"/>
</div>

<div class="col-sm-12 text-right">
        <p class="text-left">You have an Account please <a ui-sref="login" href="">Sign In</a></p>
    <input type="button" class="btn btn-danger" value="Sign Up" ng-click="registerFuc()"/>
</div>
    </div>
</div>
</div>
        </div>
</div>